
/*
 * Container
 */

.container {
  width: auto;
  max-width: 680px; /* 720 */
  padding: 0 15px;
}

/*
 * Panels
 */

.panel {
  margin-top: 20px;
}

.panel-body ol, .panel-body ul {
  padding-left: 20px;
}

.panel-body ol li + li, .panel-body ul li + li {
  padding-top: 5px;
}

/*
 * Examples
 *
 * Isolated sections of example content for each component or feature. Usually
 * followed by a code snippet.
 */

.example {
  position: relative;
  padding: 15px 15px 15px; /* 45px 15px 15px; */
  margin: 0 -15px 15px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}
/* Echo out a label for the example */
/*.example:after {
  content: "Voorbeeld";
  position: absolute;
  top:  15px;
  left: 15px;
  font-size: 12px; 
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}*/

/* Tweak display of the code snippets when following an example */
.example + .highlight {
  margin: -15px -15px 15px;
  border-radius: 0;
  border-width: 0 0 1px;
}

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  .example + .highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/* Undo width of container */
.example .container {
  width: auto;
}

/*
 * Code snippets
 *
 * Generated via Pygments and Jekyll, these are snippets of HTML, CSS, and JS.
 */

.highlight {
  display: block; 
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  white-space: nowrap;
}
.highlight pre code {
  font-size: inherit;
  color: #333; /* Effectively the base text color */
}
.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  text-align: right;
  color: #bebec5;
}




/*
 * Footer
 */

#footer {
  margin-top: 30px;
  height: 60px;
}