---
layout: default
title: Latexcursus
---

<div class="page-header">
<h1>{{ site.title }} <small>{{ site.subtitle }}</small></h1>
</div>

{% assign t = 1 %}
{% for week in site.weeks %}
<h2>{{ week[1] }} </h2>
<dl>
  {% for post in site.posts reversed %}
    {% if post.category == week[0] %}
    {% if post.disabled %}
    <dt class="disabled"><a>{{ t }}. {{ post.title }}</a>
    <dd class="disabled">{{ post.description }}</dd>
    {% else %}
    <dt><a href="{{ post.url }}">{{ t }}. {{ post.title }}</a></dt>
    <dd>{{ post.description }}</dd>
    {% endif %}
  	{% assign t = t | plus: 1 %}
    {% endif %}
  {% endfor %}
</dl>
{% endfor %}


<h2>Voorwoord</h2>
<p>De inhoud van deze lessen is voor een groot deel afkomstig van <a href="http://en.wikibooks.org/wiki/LaTeX">Latex Wikibooks</a>. De broncode van deze site vind je op <a href="https://github.com/jzuiddam/jzuiddam.github.io">github</a>. De tekst is in het Nederlands, maar ik heb met opzet Engelse termen zoals “package” niet vertaald.</p>

