<script src="https://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<script type='text/x-mathjax-config'>
MathJax.Hub.Config(
{
      extensions: ['tex2jax.js', 'MatchWebFonts.js'],
      tex2jax: {inlineMath: [['$', '$']]},
      TeX: 
      {
        extensions: ['AMSmath.js', 'AMSsymbols.js'],
        TagSide: 'left'
      },
      'HTML-CSS': { scale: 88 }
});
</script>

<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>