<title>{{ page.title}}</title>
    
    
    <meta charset='utf-8'>

    <script type='text/x-mathjax-config'>
    MathJax.Hub.Config(
    {
          extensions: ['tex2jax.js', 'MatchWebFonts.js'],
          tex2jax: {inlineMath: [['$', '$']]},
          TeX: 
          {
            extensions: ['AMSmath.js', 'AMSsymbols.js'],
            TagSide: 'left'
          },
          'HTML-CSS': { scale: 88 }
    });
    </script>

    <script type="text/javascript"
       src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">


    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">