
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Latexcursus</a>
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      {% for week in site.data.lessons %}
      {% assign t = 1 %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ week.week }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for lesson in week.lessons %}
          <li><a href="{{ lesson.url }}">{{ t }}. {{ lesson.title }}</a></li>
          {% assign t = t | plus: 1 %}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>

