
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }} &middot; {{ page.title }}</title>
    {% include header.html %}
  </head>

  <body>
    
    {% include topnav.html %}

    <div class="container">
      <div class="page-header">
        <h1>{{ page.title }}</h1>
      </div>
      {{ content }}

      <ul class="pager">
        {% if page.previous.url and page.previous.category == page.category%}
        <li class="previous"><a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a></li>
        {% endif %}
        {% if page.next.url and page.next.category == page.category %}
        <li class="next"><a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a></li>
        {% else %}
        <li class="next disabled"><a>Einde van deze week!</a></li>
        {% endif %}
      </ul>
    </div>

    {% include footer.html %}
    
  </body>
</html>
