
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>

  <body>


    {% include topnav.html %}


    <div class="container">

      <div class="row">
      <div class="col-md-3">
        <div class="bs-sidebar hidden-print" role="complementary">
          <ul class="nav bs-sidenav">
            {% for lesson in site.lessons %}
            <li>
              <a href="{{ lesson.url }}">{{ lesson.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-md-9" role="main">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
  </body>
</html>
